* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #FFF;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    background-color: #1D2F30;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1140px) {
    .header-menu {
        justify-content: space-around;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 125px;
}

@media screen and (max-width: 768px) {
    .menu {
        column-gap: 50px;
    }
}

@media screen and (max-width: 680px) {
    .menu {
        column-gap: 80px;
    }
}

@media screen and (max-width: 500px) {
    .menu {
        column-gap: 40px;
    }
}

.menu-list {
    display: flex;
    column-gap: 64px;
}

@media screen and (max-width: 768px) {
    .menu-list {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}

.menu-item {
    line-height: 150%;
    font-size: 16px;
}

@media screen and (max-width: 680px) {
    .menu-item {
        font-size: 14px;
    }
}

.header-icons {
    display: flex;
    column-gap: 67px;
}

@media screen and (max-width: 1140px) {
    .header-icons {
        column-gap: 25px;
    }
}

@media screen and (max-width: 768px) {
    .header-icons {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}